body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    background-color: #ffffff;
    padding: 20px;
    max-width: 500px;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 10px 15px;
    background-color: #7e5104;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ffbf0f;
}

.error {
    color: red;
    font-size: 0.9em;
}

#mensajeFinal {
    margin-top: 15px;
    font-weight: bold;
    color: green;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}