body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    color: #918787;
    margin: 20px;
}

header {
    background-color: rgb(27, 116, 104);
    text-align: center;
    padding: 10px;
}

form {
    background-color: white;
    padding: 15px;
    border: 1px solid gray;
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    width: 95%;
    max-width: 400px;
}

button {
    background-color: lightblue;
    border: none;
    padding: 8px 15px;
   
}

button:hover {
    background-color: rgb(50, 68, 74);
    color: white;
}
