body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2 {
    color: #0077cc;
}

.marcador {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

p {
    font-size: 2em;
    margin: 5px 0;
}

button {
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
}

input {
    padding: 5px;
    width: 200px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.mensajes {
    margin-top: 10px;
    color: red;
}

.input-error {
    border: 2px solid red;
}

.input-ok {
    border: 2px solid green;
}
